<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.TestCheckOutPage"/>
      <class name="tests.TestMenu"/>
      <class name="tests.TestProductsPage"/>
      <class name="tests.TestProductPage"/>
      <class name="tests.TestOverViewPage"/>
      <class name="tests.TestCartPage"/>
      <class name="tests.TestLogin"/>
      <class name="tests.TestFooterSocialMedia"/>
      <class name="tests.TestThankYouPage"/>
      <class name="tests.TestAboutPage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
